
.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.input_container form {
    width: 50%;
}

.input_container form input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input_container form .login_forget_password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_container form .login_forget_password .btn {
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 50%;
}

.input_container form .login_forget_password .forgot_password {
    color: gray;
    padding-top: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.95rem;
}


